html { overflow-y: scroll; }
p { text-align:justify; }
body {
/*
	background-image: url("http://www.graphicsgrotto.com/backgrounds/bubbles/images/bgbubbles8.jpg") !important;
                background-position:top left !important;
                background-repeat:repeat !important;
                */
}
    
header, section, div.subnav { background: white !important; padding: 0px 5px;
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}